// Cores de Branding
$azul-normal: #1DA7EA;
$azul-escuro: #2895E2;
$azul-claro: #0DB8EB;

// Cores neutras
$preto-normal: #2E2E33;
$preto-escuro: #0F0F0F;
$preto-claro: #474852;

$preto: #090909;

$branco-normal: #F8F8F8;
$branco-escuro: #EDEFF0;
$branco-claro: #FFFFFF;

