ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $branco-normal;
}

img {
    display: block;
    max-width: 100%;
}

.m-1 {
    margin: 2px;
}

.m-2 {
    margin: 4px;
}

.m-3 {
    margin: 6px;
}

.m-4 {
    margin: 8px;
}

.m-5 {
    margin: 10px;
}

.m-6 {
    margin: 12px;
}

.m-7 {
    margin: calc(7 * 2px);
}

.m-8 {
    margin: calc(8 * 2px);
}

.m-9 {
    margin: calc(9 * 2px);
}

.m-10 {
    margin: calc(10 * 2px);
}

.m-11 {
    margin: calc(11 * 2px);
}

.m-12 {
    margin: calc(12 * 2px);
}

.m-13 {
    margin: calc(13 * 2px);
}

.m-14 {
    margin: calc(14 * 2px);
}

.m-15 {
    margin: calc(15 * 2px);
}

.m-16 {
    margin: calc(16 * 2px);
}

.m-17 {
    margin: calc(17 * 2px);
}

.m-18 {
    margin: calc(18 * 2px);
}

.m-19 {
    margin: calc(19 * 2px);
}

.m-20 {
    margin: calc(20 * 2px);
}

.p-1 {
    padding: 2px;
}

.p-2 {
    padding: 4px;
}

.p-3 {
    padding: 6px;
}

.p-4 {
    padding: 8px;
}

.p-5 {
    padding: 10px;
}

.p-6 {
    padding: 12px;
}

.p-7 {
    padding: calc(7 * 2px);
}

.p-8 {
    padding: calc(8 * 2px);
}

.p-9 {
    padding: calc(9 * 2px);
}

.p-10 {
    padding: calc(10 * 2px);
}
