.full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

.card-post {
  max-width: 380px;
  width: 100%;
  height: 480px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #18181815;

  img {
    height: 220px;
  }

  .detalhes {
    padding: 16px;


    h3 {
      @include type-2(22);
      line-height: 130%;
      margin-bottom: 14px;
    }

    p {
      @include type-1(16);
      color: #ABABAB;
      margin-bottom: 18px;
    }

    a {
      @include type-2(16);
      color: $azul-normal;
    }
  }
}

.card-jogos {
  width: calc(50% - 24px);
  height: 300px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;


  .detalhes {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 24px;

    h3 {
      @include type-2(22);
      margin-top: 8px;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(3, 3, 3, 0.4) 53.65%, rgb(3, 3, 3) 100%);
  }

  @media (max-width: 1140px) {
    width: 100%;
  }
}

.header {
  height: 80px;
  align-items: center;
  border-bottom: 1px solid #424242;
  margin-bottom: 40px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 14px;

    a {
      @include type-2(18);
      padding: 6px;
      transition: .4s ease-in;

      &:hover {
        color: $azul-normal;
      }
    }
  }
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 80px;

  .descricao {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 24px;

    .tag {
      padding: 6px 14px;
      border-radius: 4px;
      background: $azul-normal;
    }

    h3 {
      @include type-2(24);
      line-height: 130%;
      margin-top: 24px;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(3, 3, 3, 0.4) 53.65%, rgb(3, 3, 3) 100%);
  }

  article {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    @media (max-width: 1140px) {
      height: 400px;
    }
  }

  .hero-1 {
    width: 100%;
    max-height: 600px;
  }

  .hero-2 {
    width: 100%;
    height: 100%;
    max-height: 600px;
    display: flex;
    gap: 24px;
    flex-direction: column;
  }


  @media (max-width: 1140px) {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.recentes,
.animes,
.filmes,
.jogos,
.series {
  margin-top: 16px;
  margin-bottom: 80px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.postagem {
  max-width: 900px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;

  header {
    margin-bottom: 32px;

    h1 {
      @include type-2(36);
      line-height: 110%;
      color: $branco-normal;
      margin-bottom: 40px;
    }

    .data {
      color: #ABABAB;
    }
  }

  .imagem {
    width: 100%;
    border-radius: 8px;
    background-color: $azul-normal;
    margin-bottom: 32px;
    overflow: hidden;
  }

  .corpo {
    p {
      color: #ABABAB;
      @include type-1(18);
      margin-bottom: 16px;
    }
  }

  .tag {
    
  }
}



.newsletter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 80px;

  h2 {
    @include type-2(30);
    line-height: 110%;
    max-width: 520px;
  }


  .lado-direito {
    max-width: calc(55% - 16px);

    span {
      display: block;
      @include type-1(16);
      color: #ABABAB;
    }

    .form {
      display: inline-flex;
      gap: 16px;
      margin-top: 16px;

      input {
        max-width: 380px;
        width: 100%;
        height: 40px;
        background: rgba(217, 217, 217, 0.1);
        border-radius: 4px;
        border: none;
        padding: 8px 16px;
        @include type-1(16);
        color: #585858;
      }

      button {
        width: 160px;
        height: 40px;
        background: linear-gradient(90deg, #00D2FF 0%, #3A7BD5 100%);
        border-radius: 4px;
        border: none;
        @include type-2(18);
        color: $branco-normal;
        cursor: pointer;
      }
    }

    @media (max-width: 1140px) {
      max-width: 100%;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: $preto-escuro;

  p {
    @include type-1(18);
    color: $branco-escuro;
  }
}