@use "sass:math";

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f2f2f2;
    font-family: 'Rubik';
    font-weight: 400;
    font-stretch: condensed;
}

//Mixins e Funções
@function em($pixels, $context: 16) {
    @return (math.div($pixels, $context)) * 1em;
}

@mixin type-1($size) {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: em($size);
    line-height: em($size * 1.4);
}

@mixin type-2($size) {
    font-family: 'Rubik';
    font-size: em($size);
    line-height: em($size * 1.1);
}

@mixin type-4($size) {
    font-family: $font-bold;

    @if $size==20 {
        font-size: em(20);
        line-height: em(30);
    }

    @else if $size==24 {
        font-size: em(24);
        line-height: em(30);
    }

    @else if $size==36 {
        font-size: em(36);
    }

    @else if $size==48 {
        font-size: em(48);
        font-weight: em(52);
    }
}